.main{
    background:blue;
    height:90vh;
    width:95vw;
    padding:.25em;
    background-image:url(https://lexicon-image-storage.s3.amazonaws.com/testImage/sky.png);
    background-size: 3px;
}
.cloud{
    background-image: url(https://lexicon-image-storage.s3.amazonaws.com/testImage/cloud.png);
    position:absolute;
    width:253px;
    height:117px;
    animation-iteration-count: infinite;
    overflow:hidden;
    z-index:0;
}
@keyframes cloud1{
    0% {left:0px;}
    50% {left:calc(100vw - 300px);}    
    100% {left:0px;}
}
@keyframes cloud2{
    0% {left:calc(100vw - 300px);}   
    50% {left:0px;} 
    100% {left:calc(100vw - 300px);}   
}
.cloud1{
    top:100px;
    left:0px;
    animation-name:cloud1;
    animation-duration: 200s;
}
.cloud2{
    top:437px;
    left:50vw;
    animation-name:cloud2;
    animation-duration: 210s;
}